<a href="https://colab.research.google.com/github/VishwakarmaMithun/PythonScripts/blob/main/Python_Pandas_01.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [3]:
import numpy as np
import pandas as pd

In [4]:
pd.Series

pandas.core.series.Series

In [5]:
myindex = ['USA','Canada','Mexico']

In [6]:
mydata = [1776,1867,1821]

In [7]:
myser = pd.Series(data=mydata)

In [8]:
myser

0    1776
1    1867
2    1821
dtype: int64

In [9]:
type(myser)

pandas.core.series.Series

In [10]:
myser =pd.Series(data=mydata , index=myindex)

In [11]:
myser

USA       1776
Canada    1867
Mexico    1821
dtype: int64

In [12]:
myser[0]

1776

In [13]:
myser['USA']

1776

In [17]:
 #Creating dictionary and assigning to Series
 ages = {'sam':5,'Frank':10,
        'Spike':7}

In [16]:
pd.Series(ages)

sam       5
Frank    10
Spike     7
dtype: int64

In [ ]:
q1 ={'Japan':80,'China':450,'India':2002}-